<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CNN W2V Documentation</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/simple-line-icons/css/simple-line-icons.css">
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/favicon.png" />
  <style type="text/css">
    .progress .progress-bar{
      border-radius: 0 !important;
    }
    @media only screen and (max-width: 600px) {
      #disnone{
        display: none !important
      }
      .page-body-wrapper{
        padding-top: 70px !important
      }
      .card{
        overflow: auto
      }
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start" id='disnone'>
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"
        style="position: relative;left: 5px !important;top:5px" 
      > 
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text pt-3 mb-1"><span class="text-black fw-bold">CNN-W2V SA</span></h1>
            <h3 style="font-size: 14px;font-weight: 500" class="welcome-sub-text">Analisis sentimen ulasan produk berbahasa Indonesia dengan <b class="text-black">CNN Word2Vec</b></h3>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-category">Dokumentasi</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#nav-dataset" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Dataset</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="nav-dataset">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/1">Dataset D1</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/2">Dataset D2</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/3">Dataset D3</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/4">Dataset D4</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/5">Dataset D5</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/6">Dataset D6</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/7">Dataset D7</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/8">Dataset D8</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/9">Dataset D9</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/dataset/10">Dataset D10</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#nav-hasil" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Hasil</span>
                <i class="menu-arrow"></i> 
              </a>
              <div class="collapse" id="nav-hasil">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/doc/hasil">Hasil Training</a></li>
                </ul>
              </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#nav-model" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Model</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="nav-model">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/doc/model/1">Model M1</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/2">Model M2</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/3">Model M3</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/4">Model M4</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/5">Model M5</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/6">Model M6</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/7">Model M7</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/8">Model M8</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/9">Model M9</a></li>

                <li class="nav-item"> <a class="nav-link" href="/doc/model/10">Model M10</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">Demo</li>
          <li class="nav-item">
            <a class="nav-link"  href="/doc/demo" aria-expanded="false">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Analisis Sentimen</span>
              <i class="menu-arrow"></i> 
            </a>
          </li> 
        </ul>

      </nav>
      <!-- partial -->
      <div class="main-panel">          
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
   <!-- plugins:js -->
  <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/static/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/static/js/off-canvas.js"></script>
  <script src="/static/js/hoverable-collapse.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
  <script src="/static/js/dashboard.js"></script>
  <script src="/static/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>
</body>

</html>
